/**
* Lightbox
*/
#lightbox::backdrop {
    background: red;
    opacity: 40%;
    animation: fondu 1s forwards;
}

  #lightbox {
    animation: open 1s forwards;
}

@keyframes fondu{
  from {
    opacity: 0%;
  }
  to {
    opacity: 50%;
  }
}

@keyframes open {
  from {
    transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}